* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}
body {
    background-color: #153956;
    /*margin: 0 175px;*/
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;
}



.header_line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.header_name {
    color: aliceblue;
    margin: 10px;
    font-size: 52px;
}


.nav-item {
    color: #8ca7ce;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    margin: 10px;
    transition: 0.5s;
}

.nav-item:hover {
    color: #e5e7ea;
}

.icon-item {
    color: #f2a278;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    margin: 10px;
    transition: 0.5s;
}

.icon-item:hover {
    color: #8d5b3e;
}


.container {
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
    padding-bottom: 4rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.me_container {
    height: 100vh;
    padding-bottom: 6rem;
}

.me_main {
    display: flex;
    width: 100%;
    padding-top: 2.5rem;
    justify-content: space-between;
}

.me-text-wrapper {
    padding-right: 10%;
}

.heading {
    margin-top: 0;
    margin-bottom: 0;
    color: #f2a278;
    font-weight: 700;
}

.text-block {
    padding-top: 1.5rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    font-size: 1.375rem;
    line-height: 38px;
    font-weight: 400;
    color: aliceblue;
}

.me-image {
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    border: #002e4d 20px solid;
}






.h2 {
    margin-top: 7rem;
    margin-bottom: 1rem;
    padding-top: 0;
    color: #f2a278;
    font-size: 24px;
    font-weight: 500;
}

.skills-list{
    display: flex;
    margin-top: 2rem;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-item {
    display: flex;
    /*width: 264px;*/
    margin-right: 24px;
    margin-left: 24px;
    padding: 80px;
    /*padding-top: 24px;*/
    /*padding-bottom: 24px;*/
    flex-direction: column;
    align-items: center;
}

.skill-logo {
    font-size: 48px;
    color: #f2a278;
}

.skill-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.125rem;
    line-height: 150%;
    font-weight: 700;
    text-align: center;
    color: aliceblue;
}

.skills-list li p {
    margin-bottom: 0px;
    color: #b9d1f2;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}

.skill-btn {
    display: flex;
    margin-top: 4rem;
    align-self: center;
}




.table {
    width: 100%;
    align-self: center;
    border: 8px #002e4d solid;
}

.about-grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.box-1 {
    grid-row: 1 / 4;
}
.box-2 {
    grid-row: 4 / 5;
}

.box-3 {
    grid-row: 1 / 3;
}

.box-4 {
    grid-row: 3 / 5;
}


.grid-box {
    padding: 50px;
    color: white;
    border: 8px #002e4d solid;
}


.table-heading {
    color: #f2a278;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.grid-box p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
}

.grid-box ul li {
    line-height: 32px;
}



.form-wraper {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 6rem;
    justify-content: space-between;
    align-items: flex-start;
}


.Wanna-know-more {
    width: 50%;
    margin-bottom: 4rem;
    padding-right: 2rem;
    padding-left: 0;
}

.Wanna-know-more p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
}


.form {
    display: block;
    margin-top: 0em;
    padding-bottom: 4rem;
}


.form-input {
    min-height: 0;
    margin-bottom: 1rem;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 0 0 3px;
    border-color: #000 #000 #002e4d;
    background-color: #002e4d;
    transition: all 200ms ease;
    color: #fff;
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: #f2a278;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

footer {
    padding-top: 200px;
}



.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002e4d;
    flex-direction: column;
    color: #8ca7ce;
}

.contact-info {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #8ca7ce;
}



.button-wrapper {
    background-color: #f2a278;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.button-wrapper:hover {
    background-color: #8d5b3e;
}


@media (max-width: 991px){
    .container.me_container {
        height: auto;

    }
    .me_main {
        height: auto;
    }
    .me-image {
        max-width: 240px;
        border-width: 12px;
        background-image: none;
    }
}


@media (max-width: 770px) {
    .me_main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .me-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .me-text-wrapper h1{
        display: flex;
        justify-content: center;
        padding: 15px 0 15px 0;
    }
    .text-block {
        display: flex;
        justify-content: center;
        padding: 15px 0 15px 0;
    }
    .button-wrapper {
        padding: 15px 0 15px 0;
    }


    .about-grid-parent {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    .box-1 {
        grid-row: auto;
    }
    .box-2 {
        grid-row: auto;
    }
    .box-3 {
        grid-row: auto;
    }
    .box-4 {
        grid-row: auto;
    }
    .form-wraper {
        flex-direction: column;
        align-items: center;
    }




}

/*@media (max-width: 845px) {*/
/*    .me_main {*/
/*        flex-direction: column-reverse;*/
/*        align-items: self-start;*/
/*    }*/
/*    .container {*/
/*        padding: 0rem;*/
/*    }*/
/*    !*.me-image {*!*/
/*    !*    width: auto;*!*/
/*    !*    height: auto;*!*/
/*    !*    max-width: 178px;*!*/
/*    !*    border-width: 8px;*!*/
/*    !*}*!*/

/*    .me-image-wraper {*/
/*        padding-bottom: 20px;*/
/*    }*/
/*}*/

/*@media (max-width: 550px) {*/

/*    .body {*/
/*        max-width: none;*/
/*    }*/
/*}*/